* {
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

body {
  background: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center/center;
  height: 100vh;
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.main .search {
  text-align: center;
  padding: 1rem;
}

.main input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .above{
  width: 100%;
  margin: 1rem auto;
}

.main .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.main .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 6rem auto auto auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
  font-size: 20px;
}

.location {
  font-size: 25px;
}

.temp {
  font-size: 30px;
  font-weight: bold;
}


.description {
  font-size: 25px;
  font-weight: bold;
}
